.layout {
  background-color: #000000;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  margin-left: 2rem;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 3rem;
  }
}
