.layout {
  background-color: var(--black);
  color: var(--white);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.container {
  max-width: 1100px;
  margin-bottom: 42px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 1.5rem;
  margin-left: 0;
  color: var(--white);
}

@media screen and (min-width: 600px) {
  .title {
    margin-left: 1.75rem;
  }
}

@media screen and (min-width: 800px) {
  .title {
    font-size: 3rem;
  }
}
