.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.button {
  border: none;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.disabled {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--grey);
  color: var(--grey);
  margin: 0.5rem;
  fill: var(--grey);
  cursor: auto;
}

.button.disabled:hover {
  background: none;
}

.enabled {
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--black);
  margin: 0.5rem;
  fill: var(--white);
}

.enabled:hover {
  fill: var(--black);
}

.selected {
  background-color: var(--grey);
}

.unselected {
  background: none;
}

.button:hover {
  background-color: var(--grey-light);
}
