.layout {
  display: block;
  margin-bottom: 2rem;
  /*border: 10px solid #6e4c16;*/
  border: 2px solid black;
  padding: 1rem;
  /*background-color: #f2e3b8;*/
  border-radius: 10px;
}

.imageContainer {
  width: 300px;
  height: 200px;
  position: relative;
  background-color: #000000;
  overflow: hidden;
}

.imageContainerGrey {
  width: 300px;
  height: 200px;
  position: relative;
  background-color: #d3d3d3;
  opacity: 0.8;
}

.topBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
}

.monsterName {
  margin-top: 10px;
}

.hp {
  font-size: 1.25rem;
}

.hpContainer {
  border: 1px solid #000000;
  display: inline-block;
  padding: 0.25rem;
}

.cardImage {
  object-fit: contain;
  height: 100%;
  display: block;
  margin: auto;
}
