.container {
  background-color: var(--grey);
  display: flex;
  align-items: baseline;
  padding: 0.5rem 1rem;
}

.icon {
  height: 12px;
  stroke: var(--black);
  width: 12px;
}

.remove {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  border: 1px solid var(--black);
  padding: 0.25rem;
}
